@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    padding: 5px;
    letter-spacing: normal;
}

h1 {
    font-size: 24px;
}


label {
    padding-right: 15px;
}


/* #botao, */
input,
select {
    font-size: 16px;
}

ul {
    list-style-type: upper-latin;
    letter-spacing: normal;
}

ul li {
    margin: 10px 0;
}

#calculado{
    
    padding-left: 25px;
    font-weight: bold;
    color: #01358d;
    font-size: 20px;

}

.botao {
    display:inline-block;
    color:#ffffff;
    border:1px solid #CCC;
    background:#01358d;
    box-shadow: 0 0 5px -1px rgba(1,53,141,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
}
.botao:hover {
    color:#ffffff;
    border:1px solid #CCC;
    background:rgb(226, 71, 71);
    box-shadow: 0 0 5px -1px rgba(226,71,71,0.5);
    padding: 10px;
    font-size: 17px;
}
table{
    margin-top: 20px
}
#csstable {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#csstable td, #csstable th {
border: 1px solid #ddd;
padding: 8px;
}

#csstable tr:nth-child(even){background-color: #f2f2f2;}

#csstable tr:hover {background-color: #ddd;}

#csstable th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #01358d;
color: white;
}